<html>
     <head>
       <title>
           <%= title %>
       </title>
       <script src="https://kit.fontawesome.com/64f65d8784.js" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="/home.css">
     </head>
     <body>
         <div  id="heading">
             <h1>
            <i class="fas fa-address-book"></i>
             MY CONTACT LIST </h1>
         </div>
         <div >
             <ul id="horizontal-list">
                 <% for (let i of contact_number) { %>
                <div id="container">
                   <li>
                       <div id="block-content">
                       <h1 class="adjacent" ><%= i.name %></h1>
                       <h1 class="adjacent" > <%= i.number %></h1>
                
                       </div>
                  </li>
                
                <!-- on click passing this query to route -->
        
                    <button onclick="location.href='/delete-contact/?id=<%=i.id%>'" >
                        <i class="far fa-trash-alt"></i>Delete 
                   </button>
                </div>
                

                <% } %>
                 </ul>
         </div>
         <form action="/create-action" method="POST">
             <input type="text" name="name">
             <input type="number" name="number">
             <button type="submit"> Add Contact </button>
         </form>
     </body>
</html>