<html>
     <head>
       <title>
           <%= title %>
       </title>
       <link rel="stylesheet" href="/home.css">
     </head>
     <body>
         <h1>:: MY CONTACT LIST ::</h1>
         <div>
             <ul>
                 <% for (let i of contact_number) { %>
                   <li> 
                       <p><%= i.name %></p>
                       <p> <%= i.number %></p>
                </li>
                <!-- on click passing this query to route -->
                <div>
                    <button onclick="location.href='/delete-contact/?phone=<%=i.number%>'" > Delete </button>
                </div>

                <% } %>
                 </ul>
         </div>
         <form action="/create-action" method="POST">
             <input type="text" name="name">
             <input type="number" name="number">
             <button type="submit"> Add Contact </button>
         </form>
     </body>
</html>