body{
    font-family: sans-serif;
    color: rgb(26, 25, 25);
}

#heading{
    text-align: center;
    margin-top:25px;
}

#horizontal-list{
    list-style: none;
}

.adjacent{
    display: inline-block;
    
}
.block-content{
    text-align: center;
}


#container{
    margin-top: 10px;
    padding: 10px 0px 10px 10px;
    margin-left:350px;
    margin-right:350px;
    
    border-radius: 30px;
    background-color: blue;
    
}

